
    <div>
      <button style="margin: 10px;" (click)="changeFontSize('small')">A-</button>
      <button  style="margin: 10px;"(click)="changeFontSize('medium')">A</button>
      <button  style="margin: 10px;" (click)="changeFontSize('large')">A+</button>
    </div>


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <button style="margin: 10px;" (click)="nextPage()">TEST PAGE</button>
    <button style="margin: 10px;" (click)="prevPage()">TEST PAGE</button>
  
<router-outlet></router-outlet>