/* You can add global styles to this file, and also import other style files */


body.small {
    font-size: 12px;
  }
  
  body.medium {
    font-size: 16px;
  }
  
  body.large {
    font-size: 20px;
  }
  
